snippet rep "acf repeater"
		<?php
		if( have_rows('${1}') ):
			while( have_rows('${2}') ) : the_row();
			$${3} = get_sub_field('${4}');
			?>

			<?php
			endwhile;
		endif;
		?>


snippet gallery "acf gallery"
		<?php 
		$images = get_field('${1}');
		if( $images ): ?>
			<?php foreach( $images as $image ): ?>
				 <img src="<?php echo $image['url'] ?>" alt="<?php echo esc_attr($image['alt']); ?>" />
			<?php endforeach; ?>
		<?php endif; ?>
